/* ------------------------------------*\
  #CSS-RESET
\*------------------------------------ */
/*  Modern CSS reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
/* ------------------------------------*\
  #HTML5-BOILERPLATE
\*------------------------------------ */
/* Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * DISCLAIMER!
 * I had added some changes based on my preference.
 * This is not the original styling!
 */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 */
::selection {
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/*
 * Don't allow horizontal resizing of textareas.
 */
textarea {
  resize: vertical;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(22, 95, 204);
  color: rgb(242, 242, 242);
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

main,
footer {
  color: rgb(21, 21, 21);
  font: 300 1.125rem/1.5 "Outfit", sans-serif;
}

@media screen and (min-width: 56.25em) {
  main {
    font-size: 1.375rem;
  }
}

h1,
h2 {
  font-weight: 900;
  font-family: "Big Shoulders Display", sans-serif;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 1rem;
}

/** 
 * Using currentColor to inherit the 
 * color value 
 */
svg path {
  fill: currentColor;
}

/*
 * Make sure when the user disable
 * JavaScript the content is hidden.
 */
.no-js header,
.no-js main,
.no-js footer {
  display: none !important;
}

.button {
  display: inline-block;
  position: relative;
  padding: 1.5rem 2rem;
  overflow-x: visible;
  font-weight: 800;
  font-size: 1.25rem;
  font-family: "Big Shoulders Display", sans-serif;
  letter-spacing: 0.225rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (prefers-reduced-motion: no-preference) {
  .button {
    transition: background-color 300ms ease-in-out;
  }
}

.button--black {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
}
.button--black:hover,
.button--black:active {
  background-color: rgb(213, 150, 108);
}
.button--black:focus-visible,
.button--black:focus {
  outline: 0.1875rem dotted rgb(21, 21, 21);
  outline-offset: 0.3125rem;
}

.button--black:hover .button__icon,
.button--black:active .button__icon {
  background-color: rgb(21, 21, 21);
}

.button--next {
  padding: 1.5rem 5.5rem 1.5rem 2rem;
}

.button--previous {
  padding: 1.5rem 2rem 1.5rem 5.5rem;
}

.button__icon {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  transition: inherit;
  background-color: rgb(213, 150, 108);
  width: 3.5rem;
  height: 100%;
}

.button__icon--right {
  right: 0;
}

.button__icon--left {
  left: 0;
}

.card {
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 44.375em) {
  .card {
    padding: 5.3125rem 1.75rem;
  }
}
@media screen and (min-width: 56.25em) {
  .card {
    padding: 4.0625rem 3rem;
  }
}

.card__title {
  margin-bottom: 1.5rem;
  font-size: 3.125rem;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (min-width: 56.25em) {
  .card__title {
    font-size: 3.75rem;
  }
}

.card--black {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 37.5rem;
}
@media screen and (min-width: 44.375em) {
  .container {
    padding: 0 2.5rem;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 56.25em) {
  .container {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 77.5em) {
  .container {
    padding: 0;
  }
}

@media screen and (min-width: 44.375em) {
  .hero {
    position: relative;
    background: url("../images/tablet/image-hero.jpg") no-repeat top
      left/27.3125rem 43.75rem;
    padding: 9.375rem 2.5rem;
  }
}
@media screen and (min-width: 44.375em) and (min-resolution: 2x) {
  .hero {
    background-image: url("../images/tablet/image-hero@2x.jpg");
  }
}
@media screen and (min-width: 56.25em) {
  .hero {
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: top left 50%;
    background-size: 33.75rem 50rem;
    padding: 0;
    min-height: 50rem;
    /*
     * 1. It makes the text white. Otherwise
     *    the text would be gray instead.
     */
  }
  .hero::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0); /* 1 */
    width: 33.75rem;
    height: 50rem;
    content: "";
  }
}
@media screen and (min-width: 77.5em) {
  .hero {
    margin: 0 auto;
    max-width: 90rem;
  }
}

@media screen and (min-width: 44.375em) {
  .hero .container {
    margin: 0 0 0 auto;
    padding: 0;
    max-width: 20.625rem;
  }
}
@media screen and (min-width: 56.25em) {
  .hero .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 11.875rem 1.25rem 0 1.25rem;
    max-width: 68.75rem;
  }
}
@media screen and (min-width: 77.5em) {
  .hero .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 56.25em) {
  .hero__container {
    flex-basis: 21.875rem;
  }
}

.hero__title {
  margin: 2rem 0;
  font-size: 3.75rem;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (min-width: 44.375em) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 4.375rem;
  }
}
@media screen and (min-width: 56.25em) {
  .hero__title {
    mix-blend-mode: difference;
    max-width: 28.125rem;
    color: rgb(255, 255, 255);
    font-size: 6rem;
  }
}

.hero__image {
  width: 100%;
}
@media screen and (min-width: 44.375em) {
  .hero__image {
    display: none;
  }
}

.hero__description {
  margin-bottom: 2rem;
}
@media screen and (min-width: 44.375em) {
  .hero__description {
    margin-bottom: 3rem;
  }
}

.feature {
  margin: 7.5rem 0;
}
@media screen and (min-width: 56.25em) {
  .feature {
    margin: 11.25rem 0;
  }
}

.feature .container {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 44.375em) {
  .feature .container {
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 10rem 1fr;
    grid-template-areas: "card-white image-grid-1 image-grid-1" "image-grid-2 image-grid-2 image-grid-3" "image-grid-2 image-grid-2 card-black";
    align-items: stretch;
    gap: 0.6875rem;
  }
}
@media screen and (min-width: 56.25em) {
  .feature .container {
    gap: 1.875rem;
  }
}

.feature__text {
  margin: 0.5625rem 0 1rem;
}
@media screen and (min-width: 44.375em) {
  .feature__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 13.75rem;
  }
}
@media screen and (min-width: 56.25em) {
  .feature__text {
    max-width: 21.875rem;
  }
}

.feature__image {
  width: 100%;
}
@media screen and (min-width: 44.375em) {
  .feature__image {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 44.375em) {
  .feature__grid-1 {
    grid-area: image-grid-1;
  }
}

@media screen and (min-width: 44.375em) {
  .feature__grid-2 {
    grid-area: card-white;
  }
}

@media screen and (min-width: 44.375em) {
  .feature__grid-3 {
    grid-area: image-grid-2;
  }
}

@media screen and (min-width: 44.375em) {
  .feature__grid-4 {
    grid-area: image-grid-3;
  }
}

@media screen and (min-width: 44.375em) {
  .feature__grid-5 {
    grid-area: card-black;
  }
}

@media screen and (min-width: 44.375em) {
  .feature .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.feature__title {
  margin-bottom: 1.3125rem;
  color: rgb(21, 21, 21);
  font-size: 3.125rem;
  line-height: 0.9;
  text-transform: uppercase;
}
@media screen and (min-width: 56.25em) {
  .feature__title {
    font-size: 3.75rem;
  }
}

.map {
  position: relative;
}

.map .map__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;
}
@media screen and (min-width: 44.375em) {
  .map .map__container {
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 56.25em) {
  .map .map__container {
    padding: 0 5rem;
  }
}

.map__leaflet {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 25rem;
  /*
   * Allow the users to scroll on landscape mode.
   */
}
@media screen and (min-width: 44.375em) {
  .map__leaflet {
    min-height: 34.375rem;
  }
}
@media screen and (orientation: landscape) and (max-height: 31.25em) {
  .map__leaflet {
    min-height: 50vh;
  }
}

.area {
  background-color: rgb(21, 21, 21);
  padding: 3.5rem 0;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 44.375em) {
  .area {
    padding: 5.5rem 0;
  }
}

@media screen and (min-width: 44.375em) {
  .area .container {
    display: flex;
    justify-content: space-between;
  }
}

.area__title {
  font-size: 3.125rem;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 44.375em) {
  .area__title {
    flex-basis: 14.0625rem;
    font-size: 3.4375rem;
  }
}
@media screen and (min-width: 56.25em) {
  .area__title {
    flex-basis: 21.875rem;
    font-size: 4.375rem;
  }
}

.area__wrapper {
  margin-top: 3rem;
}
@media screen and (min-width: 44.375em) {
  .area__wrapper {
    flex-basis: 25rem;
    margin: 0;
  }
}
@media screen and (min-width: 56.25em) {
  .area__wrapper {
    flex-basis: 33.75rem;
  }
}

.area__street {
  color: rgb(213, 150, 108);
  font-weight: 900;
  font-size: 2rem;
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
}

.area__details {
  margin: 1.25rem 0;
}

.footer {
  padding: 3rem 0;
}
@media screen and (min-width: 44.375em) {
  .footer {
    padding: 3.5rem 0;
  }
}
@media screen and (min-width: 56.25em) {
  .footer {
    padding: 5rem 0;
  }
}

.footer--attribution {
  padding: 3rem 0;
}

.footer--black {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
}

.footer--gold {
  background-color: rgb(213, 150, 108);
  color: rgb(21, 21, 21);
}

.footer .container {
  padding: 0 2rem;
}
@media screen and (min-width: 44.375em) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.5rem;
  }
}
@media screen and (min-width: 56.25em) {
  .footer .container {
    gap: 3.75rem;
    padding: 0 5rem;
  }
}
@media screen and (min-width: 77.5em) {
  .footer .container {
    padding: 0;
  }
}

.footer__home {
  display: inline-block;
}
.footer__home:focus-visible,
.footer__home:focus {
  outline: 0.1875rem dotted rgb(255, 255, 255);
  outline-offset: 0.3125rem;
}

.footer__description {
  margin: 2.375rem 0;
}
@media screen and (min-width: 44.375em) {
  .footer__description {
    flex-basis: 17.5rem;
    margin: 0;
  }
}
@media screen and (min-width: 56.25em) {
  .footer__description {
    flex-basis: 26.875rem;
  }
}

.footer--gold .footer__home:focus-visible,
.footer--gold .footer__home:focus {
  outline: 0.1875rem dotted rgb(21, 21, 21);
  outline-offset: 0.3125rem;
}

.footer__list {
  display: flex;
  gap: 1.25rem;
}

.footer__link {
  color: rgb(255, 255, 255);
}
.footer__link:focus-visible,
.footer__link:focus {
  outline: 0.1875rem dotted rgb(255, 255, 255);
  outline-offset: 0.3125rem;
}
@media (prefers-reduced-motion: no-preference) {
  .footer__link {
    transition: color 300ms ease-in-out;
  }
}
.footer__link:hover,
.footer__link:active {
  color: rgb(213, 150, 108);
}

.footer--gold .footer__link {
  color: rgb(21, 21, 21);
}
.footer--gold .footer__link:focus-visible,
.footer--gold .footer__link:focus {
  outline: 0.1875rem dotted rgb(21, 21, 21);
  outline-offset: 0.3125rem;
}
.footer--gold .footer__link:hover,
.footer--gold .footer__link:active {
  color: rgb(255, 255, 255);
}

.footer__attribution {
  margin: 0 1.25rem;
  text-align: center;
}
