/*------------------------------------*\
  #CSS-RESET
\*------------------------------------*/
/*  Modern CSS reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
/*------------------------------------*\
  #HTML5-BOILERPLATE
\*------------------------------------*/
/* Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*
 * DISCLAIMER!
 * I had added some changes based on my preference.
 * This is not the original styling!
 */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 */
::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Don't allow horizontal resizing of textareas.
 */
textarea {
  resize: vertical;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #165fcc;
  color: #f2f2f2;
}

::-moz-selection {
  background-color: #165fcc;
  color: #f2f2f2;
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

main,
footer {
  font: 300 1.125rem/1.5 "Outfit", sans-serif;
}

h1,
h2 {
  font-family: "Big Shoulder Display", sans-serif;
  font-weight: 900;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type=text],
input[type=number],
select,
textarea {
  font-size: 1rem;
}

/** 
 * Using currentColor to inherit the 
 * color value 
 */
svg path {
  fill: currentColor;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
 * Make sure when the user disable
 * JavaScript the content is hidden.
 */
.no-js header,
.no-js main,
.no-js footer {
  display: none !important;
}

.noscript {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: #3a2046 url("../svg/exclamation-triangle.svg") no-repeat center center/20rem;
  padding: 0.625rem;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
  font: 700 2.4rem/1.2 sans-serif;
}

@media screen and (min-width: 59.375em) {
  .noscript {
    background-size: 30rem;
  }
}
.noscript__text {
  margin: 2rem 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .noscript__text {
    opacity: 0;
    animation: fade-in 500ms ease-in-out 1000ms forwards;
  }
}
