@use "../abstracts" as *;

.feature {
  margin: rem(120) 0;

  @include breakpoint-up("very-small") {
    margin: rem(180) 0;
  }
}

.feature .container {
  display: grid;
  gap: rem(16);

  @include breakpoint-up("tiny") {
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr rem(160) 1fr;
    grid-template-areas:
      "card-white image-grid-1 image-grid-1"
      "image-grid-2 image-grid-2 image-grid-3"
      "image-grid-2 image-grid-2 card-black";
    align-items: stretch;
    gap: rem(11);
  }

  @include breakpoint-up("very-small") {
    gap: rem(30);
  }
}

.feature__text {
  margin: rem(9) 0 rem(16);

  @include breakpoint-up("tiny") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: rem(220);
  }

  @include breakpoint-up("very-small") {
    max-width: rem(350);
  }
}

.feature__image {
  width: 100%;

  @include breakpoint-up("tiny") {
    height: 100%;
    object-fit: cover;
  }
}

.feature__grid-1 {
  @include breakpoint-up("tiny") {
    grid-area: image-grid-1;
  }
}

.feature__grid-2 {
  @include breakpoint-up("tiny") {
    grid-area: card-white;
  }
}

.feature__grid-3 {
  @include breakpoint-up("tiny") {
    grid-area: image-grid-2;
  }
}

.feature__grid-4 {
  @include breakpoint-up("tiny") {
    grid-area: image-grid-3;
  }
}

.feature__grid-5 {
  @include breakpoint-up("tiny") {
    grid-area: card-black;
  }
}

.feature .card {
  @include breakpoint-up("tiny") {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.feature__title {
  margin-bottom: rem(21);
  color: $black;
  font-size: rem(50);
  line-height: 0.9;
  text-transform: uppercase;

  @include breakpoint-up("very-small") {
    font-size: rem(60);
  }
}
