@use "../abstracts" as *;

.footer {
  padding: rem(48) 0;

  @include breakpoint-up("tiny") {
    padding: rem(56) 0;
  }

  @include breakpoint-up("very-small") {
    padding: rem(80) 0;
  }
}

.footer--attribution {
  padding: rem(48) 0;
}

.footer--black {
  background-color: $black;
  color: $white;
}

.footer--gold {
  background-color: $gold;
  color: $black;
}

.footer .container {
  padding: 0 rem(32);

  @include breakpoint-up("tiny") {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 rem(40);
  }

  @include breakpoint-up("very-small") {
    gap: rem(60);
    padding: 0 rem(80);
  }

  @include breakpoint-up("small") {
    padding: 0;
  }
}

.footer__home {
  display: inline-block;

  @include focus-visible($white);
}

.footer__description {
  margin: rem(38) 0;

  @include breakpoint-up("tiny") {
    flex-basis: rem(280);
    margin: 0;
  }

  @include breakpoint-up("very-small") {
    flex-basis: rem(430);
  }
}

.footer--gold .footer__home {
  @include focus-visible($black);
}

.footer__list {
  display: flex;
  gap: rem(20);
}

.footer__link {
  color: $white;

  @include focus-visible($white);

  @include prefers-motion {
    transition: color 300ms ease-in-out;
  }

  @include on-event {
    color: $gold;
  }
}

.footer--gold .footer__link {
  color: $black;

  @include focus-visible($black);

  @include on-event {
    color: $white;
  }
}

.footer__attribution {
  margin: 0 rem(20);
  text-align: center;
}
