@use "../abstracts" as *;

.map {
  position: relative;
}

.map .map__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;

  @include breakpoint-up("tiny") {
    padding: 0 rem(40);
  }

  @include breakpoint-up("very-small") {
    padding: 0 rem(80);
  }
}

.map__leaflet {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: rem(400);

  @include breakpoint-up("tiny") {
    min-height: rem(550);
  }

  /*
   * Allow the users to scroll on landscape mode.
   */
  @media screen and (orientation: landscape) and (max-height: 31.25em) {
    min-height: 50vh;
  }
}
