@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
 * Make sure when the user disable
 * JavaScript the content is hidden.
 */
.no-js header,
.no-js main,
.no-js footer {
  display: none !important;
}

.noscript {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: rgb(58, 32, 70) url("../svg/exclamation-triangle.svg")
    no-repeat center center/20rem;
  padding: 0.625rem;
  width: 100%;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  font: 700 2.4rem/1.2 sans-serif;
  text-align: center;
}

@media screen and (min-width: 59.375em) {
  .noscript {
    background-size: 30rem;
  }
}

.noscript__text {
  margin: 2rem 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .noscript__text {
    opacity: 0;
    animation: fade-in 500ms ease-in-out 1000ms forwards;
  }
}
