// Colors
$black: rgb(21 21 21);
$white: rgb(255 255 255);
$gold: rgb(213 150 108);
$dark-grey: rgb(68 68 68);

// Breakpoints
// Note: If the user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 44.375em, // 710px
  "very-small": 56.25em, // 900px
  "small": 77.5em, // 1240px
);
$breakpoints-down: (
  "tiny": 44.3125em, // 709px
  "very-small": 56.1875em, // 899px
  "small": 77.4375em, // 1239px
);
